@font-face {
    font-family: "Vazir";
    src: url("https://sgtmarket.ir/Vazir-Regular.ttf");
}

body {
    background-color: blue;
    font-family: "Vazir";
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -5px;
}

p {
    text-align: center;
    font-size: 15px;
    margin-top: -45px;
}

h1, p {
    color: white;
}

.arz {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 200px;
}